<section id="hamburgNav">
    {{ headerNav | raw }}
</section>
<div class="wrapper-content">
    {{ header | raw }}

    <div class="page clearfix">
        {{ firstBlock | raw }}
        {{ about | raw }}
        {{ directions | raw }}
        {{ freeConsult | raw }}
        {{ doctors | raw }}
        {{ visit | raw }}
        {{ licenses | raw }}
        {{ news | raw }}
        {{ signInspection | raw }}
        {{ footerMap | raw }}
    </div>

</div>
